extends layout

//- block slides
//-   section(
//-     data-markdown='/markdown/#{file}.md'
//-     data-separator='^\n\n\n'
//-     data-vertical='^\n\n'
//-   )

block slides
  section
    :markdown
      # Vanilla JavaScript

  section
    :markdown
      ## Types:

    ul
      li.fragment(data-fragment-id='1') String
      li.fragment(data-fragment-id='2') Number
      li.fragment(data-fragment-id='3') Array
      li.fragment(data-fragment-id='4') Function
      li.fragment(data-fragment-id='5') Object

  section
    h2 Objects
    li.fragment(data-fragment-id='1') aka. HashSet (Java), Dictionary <string, object> (.NET)
    li.fragment(data-fragment-id='2') Dot notation vs bracket notation
